# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
dev-dist
dist
# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# development
/builddev*
/extdist
/extbuild

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tmp
.parcel-cache/

# this is a bit of a hack...
nf.iife.js
