dist
extdist

frontend/build/
frontend/builddev/
frontend/extbuild/

**/node_modules/

**/tmp/
**/.vscode
**/.env
**/cookiecutter-config-file.yml
**/.git

**/.mypy_cache
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.hypothesis
