.vscode
.mypy_cache
docker-stack.yml
tmp/

cookiecutter-config-file.yml
dist

.env.local
.env
docker-compose.override.yml
*.egg-info
.venv

kube/k3d-deploy/volumes
kube/k3d-deploy/local-secrets

kube/chart/transcrobes/charts/*
