version: "3.9"
services:
  nginx:
    ports:
      - 80:80
  db:
    ports:
      - "15432:5432"
  statsdb:
    ports:
      - "15433:5432"
  kafka:
    ports:
      - "9092:9092"
  zookeeper:
    ports:
      - "2181:2181"
  corenlpzh:
    ports:
      - "9001:9001"
