@font-face {
    font-family: 'mashanzheng';
    src: url('MaShanZheng-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notasanslight';
    src: url('NotoSansSC-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notaserifextralight';
    src: url('NotoSerifSC-ExtraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notaserifregular';
    src: url('NotoSerifSC-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notasansregular';
    src: url('NotoSansSC-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opendyslexic';
    src: url('opendyslexic-regular-webfont.woff2') format('woff2'),
         url('opendyslexic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
