body {
  font-family: "Open Sans Light", sans-serif;
  font-size: 1.2em;
  padding: 2em;
  font-weight: 300;
  max-width: 800px;
}
.init-message {
  font-size: 2em;
  color:black;
}
.hidden {
  display: none;
}
.credentials {
  max-width: 500px;
  display: flex;
  flex-flow: column;
}
.frow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.savestyle {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  padding-top: 8px;
}
.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
input {
  margin: 0.5em;
  width: 200px;
  height: 2.5em;
}
button {
  width: 208px;  /* why do i need 208 here :-( */
  height: 2.5em;
  margin-bottom: 0.5em;
}
select {
  margin: 0.5em;
  width: 208px;  /* why do i need 208 here :-( */
  height: 2.5em;
}
.initialisation_details {
  max-width: 500px;
  display: flex;
  flex-flow: column;
}
